# [link][]
snippet []
  [${1:link_id}][]${2}
# [link][id]
snippet [[
  [${1:link}][${2:id}]${3}
# [link](url)
snippet [(
  [${1:link}](http://${2:url})${3}
# [link](email)
snippet [@
  [${1:link}(mailto:${2:email})${3}
# [link](url "title")
snippet [("
  [${1:link}](${2:url} "${3:title}")${4}
# [id]: url "title"
snippet [:
  [${1:id}]: http://${2:url} "${3:title}"
# [id]: email "title"
snippet [:@
  [${1:id}]: mailto:${2:url} "${3:title}"
# ![alt][id]
snippet ![
  ![${1:alt}][${2:id}]${3}
# ![alt](url)
snippet !(
  ![${1:alt}](${2:url})${3}
# ![alt](url "title")
snippet !("
  ![${1:alt}](${2:url} "${3:title}")${4}
# *emphasis* or _emphasis_
snippet *
  *${1}*${2}
snippet _
  _${1}_${2}
# **strong** or __strong__
snippet **
  **${1}**${2}
snippet __
  __${1}__${2}
# `code`
snippet `
  \`${1}\`${2}
snippet image
  ![${3}](./${1}/images/${2}.png)
snippet ra
  &rarr;
snippet add
  ![add](../../../images/icon-add.png)
snippet Menu
  ![Menu](../../../images/icon-menu.png)
snippet Options
  ![Options](../../../images/icon-options.png)
snippet project
  [Create a project](/docs/7-2/reference/-/knowledge_base/r/creating-a-project)
snippet docker
  [$LIFERAY_LEARN_DXP_DOCKER_IMAGE$]
snippet gittag
  [$LIFERAY_LEARN_PORTAL_GIT_TAG$]
snippet ported
  <aside class="alert alert-info">
    <span class="wysiwyg-color-blue120">This document has been updated and ported to <a href="${1}">Liferay Learn</a> and is no longer maintained here.</span>
  </aside>
snippet beta
  !!! warning
      This feature is currently behind a beta feature flag. See [Beta Feature Flags](../../../system-administration/configuring-liferay/feature-flags.md#beta-feature-flags) for more information. Configuring an unsupported content security policy can cause your instance to malfunction.
snippet grid
  ::::{grid} 2
  :gutter: 3 3 3 3

  :::{grid-item-card}  Building A Thing
  :link: ./tutorials/building-a-thing.md
  :::

  :::{grid-item-card}  Building Another Thing
  :link: ./tutorials/building-another-thing.md
  :::

  :::{grid-item-card}  Building A Third Thing
  :link: ./tutorials/building-a-third-thing.md
  :::
  ::::

# YAML front matter: Article/Handout
snippet yaml-article
  ---
  title: "${1:Your Title}"
  subtitle: "${2:Your Subtitle}"
  author: "${3:Firstname Lastname}"
  ---

  ${4}
# YAML front matter: Business Letter
snippet yaml-letter
  ---
  date: "${1:January 1, 2026}"
  from-name: "${2:Firstname Lastname}"
  from-address-1: "${3:123 Main Street}"
  from-address-2: "${4:City, ST 00000}"
  to-company-name: "${5:Company Name}"
  to-name: "${6:Firstname Lastname}"
  to-address-1: "${7:456 Oak Avenue}"
  to-address-2: "${8:City, ST 00000}"
  salutation: "${9:Dear Firstname Lastname}"
  complimentary-close: "${10:Sincerely}"
  ---

  ${11}
# YAML front matter: Book
snippet yaml-book
  ---
  title: "${1:My Great Book}"
  subtitle: "${2:A Story of Greatness}"
  author: "${3:Firstname Lastname}"
  copyright-holder: "${4:Publisher Name}"
  dedication: "${5:For my family, who endured the writing process.}"
  isbn: "${6:978-1234567890}"
  body-font: "${7:Alegreya}"
  heading-font: "${8:Alegreya Sans}"
  ---

  ${9}
# YAML front matter: Submission Format
snippet yaml-submission
  ---
  title: "${1:A Great Story}"
  author: "${2:Dude Dud}"
  surname: "${3:Dud}"
  shorttitle: "${4:Story}"
  wordcount: "${5:about 12,000 words}"
  name: "${6:Dudeness M. Dud}"
  address: "${7:123 Main Street}"
  city: "${8:Anywhere, XX  00000}"
  phone: "${9:123-456-7890}"
  email: "${10:dude@place.com}"
  affiliation: "${11:}"
  ---

  ${12}
# YAML front matter: Planner Page
snippet yaml-planner
  ---
  title: "${1:Your Title}"
  subtitle: "${2:Your Subtitle}"
  author: "${3:Firstname Lastname}"
  ---

  ${4}
